[Unit]
Description=GNOME Session
OnFailure=gnome-session-failed.target
OnFailureJobMode=replace
DefaultDependencies=no
RefuseManualStart=yes
RefuseManualStop=yes

BindsTo=graphical-session.target
Before=graphical-session.target

# gnome-session-monitor.service will quit with the session leader process
# gnome-session.target pulls in graphical-session.target
BindsTo=gnome-session-monitor.service
After=gnome-session-monitor.service
