[Unit]
Description=User systemd services for the GNOME graphical session (x11)
Requires=graphical-session-pre.target
# start/tear down graphical-session.target along with the gnome session
BindsTo=graphical-session.target
# session leader -- if this dies, die along with it
BindsTo=gnome-session@gnome.service
Wants=gnome-settings-daemon-x11.target gnome-shell-x11.target
