[Unit]
Description=GNOME Session is not yet stable (running for <2 minutes)

Requisite=gnome-session.target
PartOf=gnome-session.target

[Timer]
OnActiveSec=120
AccuracySec=5
Unit=gnome-session-stable.target
RemainAfterElapse=no
