[Unit]
Description=GNOME X11 Session
# On X11, try to show the fail screen
OnFailure=gnome-session-failed.target
OnFailureJobMode=replace
# Avoid default After/Before rules
DefaultDependencies=no

Before=gnome-session.target

PartOf=graphical-session.target
RefuseManualStart=yes
RefuseManualStop=yes

# Pull in all X11-specific services the session might depend on
Requires=gnome-session-x11-services.target
