[Desktop Entry]
Encoding=UTF-8
Name=File Browser
Comment=Browse the file system with the file manager
TryExec=nautilus
Exec=nautilus --no-default-window
Icon=file-manager
Terminal=false
StartupNotify=true
Type=Application
Categories=GNOME;GTK;Utility;Core;
OnlyShowIn=GNOME;
NoDisplay=true
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=nautilus
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=2.18.1
X-GNOME-Autostart-Phase=Desktop
X-GNOME-Provides=filemanager
X-GNOME-Autostart-Notify=true
